@use "settings" as s;
footer {
  font-size: 0.9rem;
  line-height: 1.2;
  text-align: center;
  color: s.$Dark-brown;
}
footer a {
  color: s.$Soft-red;
  margin: 0 4px;
}
footer a:hover {
  color: s.$Cyan;
}
